@import '../../../../../../admin/src/assets/theme/variables.scss';

.container{
    margin-right: 5px;

    .text{
        border: none;
        border-radius: 4px;
        padding: 2px 10px;
        text-transform: capitalize;
        color: white;
    }
}

.container:last-child{
    margin-right: 0;
}
