<div class="container">
    <div class="wrapper">
        <header class="header">
            <div class="icon-container">
                <mat-icon>list_alt</mat-icon>
            </div>
            <h1>Orders</h1>
        </header>
        <app-loader [isLoading]="isLoading"></app-loader>
        <div class="data-table">
            <app-data-table
            [rowData]="orders" 
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
            [rowCount]="rowCount"
            [columnOptions]="columnDefs" 
            [fileName]="fileName"
            [columnKeys]="columnKeys"
            [isPaginationRequired]="true"
            [isExportRequired]="true"
            [isColumnPrefRequired]="true"
            [fitColumns]= "false" 
            [isAddActionRequired] = "false"
            [componentName]= "component"
            (isActionPerformed)="getActionConfirmation($event)"
            ></app-data-table>
        </div>
    </div>
</div>
<!-- [deleteModalData] = "deleteModalObj"
[addActionMsg] = "addActionMsg"
[updateActionMsg] = "updateActionMsg"
[addBtnIcon] = "addBtnIcon"
[columnKeys] = "columnKeys" -->